.home {
    background-image: url('../images/background.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    min-height: 770px;
    position: relative;
    overflow: hidden;
}
.header_navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s; }

.sticky {
  position: fixed;
  z-index: 99;
  background-color: #fff;
  -webkit-box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s; }
  .sticky .navbar {
    padding: 0px 0; }

.navbar {
  padding: 0 0;
  border-radius: 5px;
  position: relative;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s; }

.navbar-brand {
  padding: 0; }

.navbar-toggler {
  padding: 0; }
  .navbar-toggler .toggler-icon {
    width: 30px;
    height: 2px;
    background-color: #c9a04f;
    display: block;
    margin: 5px 0;
    position: relative;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s; }
  .navbar-toggler.active .toggler-icon:nth-of-type(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 7px; }
  .navbar-toggler.active .toggler-icon:nth-of-type(2) {
    opacity: 0; }
  .navbar-toggler.active .toggler-icon:nth-of-type(3) {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    top: -7px; }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 9;
    -webkit-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
    padding: 5px 12px; } }
@media (max-width: 767px) {
  .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 9;
    -webkit-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
    padding: 5px 12px; } }

.navbar-nav .nav-item {
  margin-left: 45px;
  position: relative; }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .navbar-nav .nav-item {
      margin-left: 30px; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-nav .nav-item {
      margin: 0; } }
  @media (max-width: 767px) {
    .navbar-nav .nav-item {
      margin: 0; } }
  .navbar-nav .nav-item a {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    padding: 10px 0;
    position: relative;
    font-family: "Open Sans", sans-serif;
    position: relative; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .navbar-nav .nav-item a {
        display: block;
        padding: 4px 0;
        color: #293651; } }
    @media (max-width: 767px) {
      .navbar-nav .nav-item a {
        display: block;
        padding: 4px 0;
        color: #293651; } }
    .navbar-nav .nav-item a span {
      width: 0;
      height: 2px;
      background-color: #c9a04f;
      position: absolute;
      left: 0;
      bottom: 0;
      border-radius: 50px;
      opacity: 0;
      visibility: hidden;
      -webkit-transition: all 0.3s ease-out 0s;
      -moz-transition: all 0.3s ease-out 0s;
      -ms-transition: all 0.3s ease-out 0s;
      -o-transition: all 0.3s ease-out 0s;
      transition: all 0.3s ease-out 0s; }
      .navbar-nav .nav-item a span::before {
        position: absolute;
        content: '';
        width: 0;
        height: 2px;
        background-color: #c9a04f;
        left: 110%; }
      .navbar-nav .nav-item a span::after {
        position: absolute;
        content: '';
        width: 0;
        height: 2px;
        background-color: #c9a04f;
        left: 140%; }
  .navbar-nav .nav-item.active > a span, .navbar-nav .nav-item:hover > a span {
    opacity: 1;
    visibility: visible;
    width: 60%;}
    .navbar-nav .nav-item.active > a span::before, .navbar-nav .nav-item:hover > a span::before {
      width: 20%; }
    .navbar-nav .nav-item.active > a span::after, .navbar-nav .nav-item:hover > a span::after {
      width: 15%; }
  .navbar-nav .nav-item:hover .sub-menu {
    top: 100%;
    opacity: 1;
    visibility: visible; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .navbar-nav .nav-item:hover .sub-menu {
        top: 0; } }
    @media (max-width: 767px) {
      .navbar-nav .nav-item:hover .sub-menu {
        top: 0; } }
  .navbar-nav .nav-item .sub-menu {
    width: 200px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 110%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .navbar-nav .nav-item .sub-menu {
        position: relative;
        width: 100%;
        top: 0;
        display: none;
        opacity: 1;
        visibility: visible; } }
    @media (max-width: 767px) {
      .navbar-nav .nav-item .sub-menu {
        position: relative;
        width: 100%;
        top: 0;
        display: none;
        opacity: 1;
        visibility: visible; } }
    .navbar-nav .nav-item .sub-menu li {
      display: block; }
      .navbar-nav .nav-item .sub-menu li a {
        display: block;
        padding: 8px 20px;
        color: #293651; }
        .navbar-nav .nav-item .sub-menu li a.active, .navbar-nav .nav-item .sub-menu li a:hover {
          padding-left: 25px;
          color: #00A78E; }
.navbar-nav .sub-nav-toggler {
  display: none; }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-nav .sub-nav-toggler {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      background: none;
      color: #293651;
      font-size: 18px;
      border: 0;
      width: 30px;
      height: 30px; } }
  @media (max-width: 767px) {
    .navbar-nav .sub-nav-toggler {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      background: none;
      color: #293651;
      font-size: 18px;
      border: 0;
      width: 30px;
      height: 30px; } }
  .navbar-nav .sub-nav-toggler span {
    width: 8px;
    height: 8px;
    border-left: 1px solid #293651;
    border-bottom: 1px solid #293651;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: relative;
    top: -5px; }

.sticky .navbar-nav .nav-item a {
  color: #293651; }
.sticky .navbar-nav .nav-item.active > a, .sticky .navbar-nav .nav-item:hover > a {
  color: #c9a04f; }
.homw header {
  position: relative;
	width: 100%;
	height: 60px;
  background-color: transparent;


}
.home nav{
  display: flex;
}

.home .navwords {
  display: flex;
  justify-content: center;
  padding-left: 350px;
}
.home a {
	color: white;
	text-decoration: none;
  transition: all 0.6s;
  padding: 10px 15px;
  /* margin: 4px 8px; */
  /* line-height: 25px; */
  font-weight: 500;
}
.home a.active {
    color: #c9a04f;

}
.home a:hover{
  cursor: pointer;
  color:#c9a04f;
  font-stretch: expanded;
  text-decoration: none;
}

.home .titles {
    width: 100%;
    height: 100%;
    min-height: 700px;
    position: absolute;
    padding: 0 80px;
    top: 30;
    background-color: rgb(0, 0, 0, 0.5);
}

.home .titles-wrap {
    margin-top: 300px;
}

.home h1 {
    color: #ffffff;
    width: 100%;
    display: block;
    margin: 0;
    font-size: 45px;
    font-weight: 500;
    line-height: 1.7;
}

.home h1 span {
    color: #c9a04f;
}

.home h2 {
    color: #ffffff;
    display: block;
    font-size: 27px;
    line-height: 1.7;
}

.home h2 span {
    color: #ffffff;
}

.home p {
    color: #ffffff;
    font-size: 18px;
    margin-top: 20px;
    max-width: 450px;
}

.btn {
    color: #ffffff;
    background-color: #c9a04f;
    font-size: 14px;
    line-height: 40px;
    letter-spacing: 0.5px;
    text-align: center;
    font-weight: 600;
    text-transform: capitalize;
    padding: 0 40px;
    border-radius: 0;
    position: relative;
    display: inline-block;
    border: 2px solid #c9a04f;
}

.btn:hover {
    color: #ffffff;
    text-decoration: none;
}



@media only screen and (max-width: 768px) {
  .home a {
      padding: 0 5px;
      margin: 4px 5px;
      font-size: 14px;
  }
  .home nav {
      display: flex;
      margin-left: 5px;
      margin-top: 0px;

  }
  .home .navwords {
    display: block;
    padding-left: 0;
  }
    .home .titles {
        padding: 0 40px;
        width: 100%;
    }
    .home h2,
    .home p {
        font-size: 20px;
    }
}
/* justify-content: space-between;
display: flex;
max-width: 50px; */
@media only screen and (max-width: 576px) {
  .home a {
      padding: 0 5px;
      margin: 4px 5px;
      font-size: 14px;
  }
  .home nav {
      display: flex;
      margin-left: 5px;
      margin-top: 0px;

  }
  .home .navwords {
    display: block;
    padding-left: 0;
  }
    .home h2,
    .home p {
        font-size: 18px;
    }

    .home h1 {
        font-size: 30px;
    }
}

@media only screen and (max-width: 350px) {
    .home h2,
    .home p {
        font-size: 16px;
    }
    .home nav {
        display: flex;
        margin-left: 5px;
        margin-top: 0px;

    }
    .home .navwords {
      display: block;
      padding-left: 0;
    }

    .home h1 {
        font-size: 28px;
    }
}







.services {
    background-color: #f9f9f9;
    padding: 100px 0 70px 0;
}

.sec-title {
    margin-bottom: 50px;
}

.sec-title h2 {
    font-size: 26px;
    font-weight: 700;
    line-height: 1.3;
    color: #444444;
    text-transform: uppercase;
    display: inline-block;
    padding: 10px 10px 0 0;
    position: relative;
    z-index: 1;

}

.sec-title h2::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 70%;
    z-index: -1;
    background-color: #c9a04f;
}

.services .service-box {
    border: 1px solid #dddddd;
    background-color: #ffffff;
    padding: 30px;
    margin-bottom: 30px;

}

.services .service-box .icontitle {
    overflow: hidden;
    margin-bottom: 10px;

}

.services .service-box .icontitle i {
    float: left;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 21px;
    color: #c9a04f;
    text-align: center;

}


.services .service-box .title {
    padding: 0 0 0 70px;
}

.services .service-box .title span {
    color: #c9a04f;
    font-size: 16px;

}

.services .service-box .title h4 {
    font-size: 18px;
    font-weight: 700;
    color: #444444;
    text-transform: capitalize;
    margin: 7px 0 0 0;

}

.services .service-box p {
    margin: 0;

}










.work {
    padding-top: 100px;
    padding-bottom: 70px;
}

.work .list-filter  {
    margin-bottom: 30px;
    padding: 0;
}

.work .list-filter li {
    list-style: none;
    display: inline-block;
}

.work .list-filter a {
    display: block;
    color: #000000;
    padding: 0 10px;
    margin: 4px 8px;
    cursor: pointer;
    line-height: 35px;
    font-weight: 500;
    text-transform: uppercase;
    transition: all 0.6s;

}

.work .list-filter a.active {
    color: #c9a04f;

}

.work .list-filter a:hover {
    color: #c9a04f;
}


.projects-wrapper > div {
    margin: 25px 0 0 0;

}

.work-box {
    position: relative;
    overflow: hidden;
    display: block;
    padding: 15px;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);

}

.work-box a {
    display: inline-block;
    position: relative;

}

.work-box:hover .work-overlay {
    opacity: 1;
    transform: scale(1);


}

.work-box:hover .work-caption {
    opacity: 1;

}

.work-box:hover .work-img {
    transform: scale(1);
    width: 100%;
    transition: all 2s linear;
}

.work-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    background-color: #c9a04f;
    transition: all 0.2s linear;
    transform: scale(0);

}

.work-overlay h5 {
    color: #ffffff;

}

.work-overlay p {
    font-size: 12px;
    letter-spacing: 1.5px;
    margin-bottom: 0;
    color: #ffffff;

}

.work-overlay .work-caption {
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     opacity: 0;
     width: 100%;
     transition: all 0.5s linear;

}

.overlay-icons {
    border: 2px solid #ffffff;
    color: #ffffff;
    font-size: 22px;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    line-height: 41px;
    transition: all 0.5s;
}

.overlay-icons:hover {
    background-color: #ffffff;
    color: #c9a04f;
    border: 2px solid #ffffff;

}

@media only screen and (max-width: 768px) {
    .list-filter a {
        padding: 0 5px;
        margin: 4px 5px;
        font-size: 14px;

    }
}


.skills-container{
display: grid;
grid-tempLate-columns: repeat(3, 1fr);
justify-content:center;
align-items:center;
text-align: center;
/* grid-gap:1rem; */
padding: 1rem 180px;
font-size: 1.2rem;
}
.skills-box{
padding: 1rem;
color: #000;
}
.skills-box:hover > .skills-title: after,
.skills-box:hover > .skills-title: before{
width: 30px;
}
.skills-box:hover .skills-img{
transform: translateX(-20px);
}

.skills-title{
display:flex;
flex-direction: column;
align-items:center;
padding: 0.5rem;
margin-bottom: 0.5rem;
position: relative;
}

.skills-title:after{
content: '';
position:absolute;
bottom: 0;
rigth: 50%;
width:20px;
height:4px;
border-radius: 2px 0 0 2px;
background-color: #c9a04f;
transition: .5s;
}

.skills-title:before{
content: '';
position:absolute;
bottom: 0;
left: 50%;
width:10px;
height:4px;
border-radius: 0 2px 2px 0;
background-color: #c9a04f;
}

.skills-icons{
width:90px;
z-index:2;
}

.skills-img{
width:90px;
height:90px;
position: relative;
border-radius: 45px;
background-color: #fff;
display:flex;
justify-content:center;
align-items:center;
transition: .5s;
}

.skills-img:after{
content: '';
position:absolute;
top:0;
left: 0;
width:50%;
height:90px;
background: rgba(100, 100, 100, 0.5);
border-radius: 45px 0 0 45px;
}
.skills-title h3{
color: #333;
margin-top: 0.5rem;
}
@media screen and (max-width:990px){
 .skills-container{
 grid-tempLate-columns: repeat(2, 1fr);
 padding: 2rem 50px;
 }
}

@media screen and (max-width:650px){
 .skills-container{
 grid-tempLate-columns:repeat(2, 1fr);
 padding: 2rem 50px;
 }
}


.Contact-box{
  display: flex;
}
.contact-section{
  flex-basis: 50%;
  background: none no-repeat center;
  background-size: cover;
  height: 700px;
  width: 700px;
  padding: 40px 0;
  padding-top: 100px;
  padding-bottom: 70px;
  padding-left: 120px;
}
.border{
  width: 100px;
  height: 10px;
  background: #34495e;
  margin: 40px auto;
}
.getintouch{
  flex-basis: 50%;
  background: none no-repeat center;
  background-size: cover;
  padding: 40px 0;
  padding-top: 210px;
  padding-bottom: 70px;
  padding-left: 100px;
}
.getintouch h3{
  font-size: 26px;
  font-weight: 700;
  line-height: 1.3;
  color: #444444;
  text-transform: uppercase;
  display: inline-block;
  padding: 10px 10px 0 0;
  position: relative;
  z-index: 1;
}
.getintouch h3::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 70%;
    z-index: -1;
    background-color: #c9a04f;
}
.getintouch-table{
  max-width: 600px;
  /* margin: auto; */
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
  padding: 20px 40px;
  transition: 0.5s;
  border-collapse: separate;
  border-spacing: 0 15px;
}
.getintouch-table tr{
  margin: 20px 20px;
}
.socialmedia{
  padding: 0 40px;
  margin: 0 0;
  justify-content: space-between;
  display: flex;
  max-width: 350px;
}
@media only screen and (max-width: 768px) {
  .contact-form-text-name{
    width: 96%;
    padding: 20px 40px;
    margin: 20px 0;
  }

}
@media only screen and (max-width: 576px) {
  .Contact-box{
    display:block;
  }
  .contact-section{
    padding: 20px 20px;
    margin: 20px 0;
    height: 400px;
    width: 360px;
  }360
  .getintouch-table{
    padding: 20px 0px;
  }
  .getintouch{
    padding: 20px 40px;
    margin: 20px 0;
  }
}

@media only screen and (max-width: 350px) {
  .contact-form-text-name{
    width: 96%;
    padding: 20px 40px;
    margin: 20px 0;
  }
  .Contact-box{
    display: block;
  }
  .contact-section{
    padding: 20px 20px;
    margin: 20px 0;
    height: 300px;
    width: 300px;
  }
  .getintouch-table{
    padding: 20px 0px;
  }
  .getintouch{
    padding: 20px 20px;
    margin: 20px 0;
  }
}

  .owl-theme .owl-dots .owl-dot span{
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: top;
    border: 1px solid #c9a04f;
    margin: 0 5px;
    transition: ease all 0.5s;
    border-radius: 50%;
    background: none;
    color: #ffffff;
  }

  .owl-theme .owl-dots .owl-dot.active span,
  .owl-theme .owl-dots .owl-dot:hover span,
  .owl-theme .owl-dots .owl-dot:active span,
  .owl-theme .owl-dots .owl-dot:focus span,
  .owl-theme .owl-dots .owl-dot:visited span {
    background: #c9a04f;
    outline: none;
  }

  .owl-theme .owl-dots .owl-dot:active,
  .owl-theme .owl-dots .owl-dot:focus,
  .owl-theme .owl-dots .owl-dot:visited {
    outline: none;
  }
